.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-item {
    text-indent: 50px;
    width: 80%;
    border: solid 1px black;
    border-radius: 4px;
    padding: 15px;
    margin: 10px;
}

.no-border {
    border: none;
}

.article-title {
    font-size: 2em;
}

.article-time {
    font-size: 0.5em;
    text-align: right;
}

subheader {
    text-align: center;
    margin: 0;
    padding: 0;
}

#article-add {
    margin: 0 auto;
    width: 80%;
}

button {
    margin-left: 400px;
    background-color: steelblue;
    border-radius: 4px;
}
